[submodule "tests/bats/unit/test_helper/bats-support"]
	path = tests/bats/unit/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/bats/integration/test_helper/bats-support"]
	path = tests/bats/integration/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "tests/bats/unit/test_helper/bats-assert"]
	path = tests/bats/unit/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
[submodule "tests/bats/integration/test_helper/bats-assert"]
	path = tests/bats/integration/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
